*_env/
*.backup
*_backup_*

.git/
.github/
.vagrant/
bin/
coverage/
cypress/
docker/virtual-machine/
docs/
kube/
node/
node_modules/
storage/debugbar/
storage/framework/
storage/logs/
storage/uploads/
tests/
vendor/
volumes/

.env
.gitattributes
.gitignore
.phplint.yml
docker-compose.yml
Makefile
phpunit.xml
README.md
requirements.txt
workspace.code-workspace
