/.phpintel
/bin
/node_modules
/public/hot
/public/storage
/public/instances/*
/public/instances-2018/*
/public/assets/instances/*
/public/assets/instances-2018/*
/storage/*.key
/storage/uploads
/storage/uploads_bkp
/storage/imports/
storage/debugbar
/storage/uploads_save
/storage/emojis.json
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.bak
.settings/
.externalToolBuilders/
ide/
.idea/
.buildpath
.project
.DS_Store
Thumbs.db
laravel-echo-server.lock
laravel-echo-server.json
*.DS_Store
*.__*
/node/node_modules
/public/fonts
/public/css/style*
/public/css/boarding*
/public/images/undo.svg
/public/js/colab/colab.js
public/mix-manifest.json
public/0.js
public/1.js
public/2.js
public/3.js
public/js/autocomplete.js
public/**/*.js.LICENSE
public/js/collab.js
public/js/channel.js
public/js/app.js
*/.vscode
/electron/node_modules
tests-coverage/
cypress/screenshots/
cypress/videos/
public/packages/firebase/
public/firebase-messaging-sw.js
public/*.map
public/js/*.map
public/boarding.js
public/style.js
public/style2.js
public/style3.js
public/style4.js
public/style5.js
public/css/theme
core